ServerName {{ http_host }}

{% if '443' == http_port %}

<VirtualHost *:80>
    ServerName {{ http_host }}
    Redirect permanent / https://{{ http_host }}/
</VirtualHost>

{% endif %}


<VirtualHost *:{{ http_port }}>
    ServerName {{ http_host }}
    ServerAdmin {{ email }}
    ServerAlias www.{{ http_host }}
    DocumentRoot /var/www/{{ http_host }}
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

{% if '443' == http_port %}
    SSLEngine on
    SSLCertificateFile    /etc/letsencrypt/live/{{ http_host }}/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/l{{ http_host }}/privkey.pem
    Include /etc/letsencrypt/options-ssl-apache.conf
{% endif %}

    <Directory /var/www/{{ http_host }}>
          Options -Indexes
    </Directory>

    <IfModule mod_dir.c>
        DirectoryIndex index.php index.html index.cgi index.pl  index.xhtml index.htm
    </IfModule>

</VirtualHost>